@import 'reset.css';
@import 'fonts.css';
@import 'colors.css';

body {
	font-family: "Futura PT", futura, sans-serif
}

a {
	color: var(--red);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}