.workList {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
}

.workListItem {
  display: block;
  margin-top: 15px;
}

.workListItem:not(:last-child):after {
  content: "";
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  border-top: 2px solid var(--blue);
  width: 10px;
}

.workContent {
}

.workContentItem {
}

.showAllItems:hover {
  cursor: pointer;
}
