.workList {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
}

.workListItem {
  display: block;
  margin-top: 15px;
}

.workListItem:not(:last-child):after {
  content: "";
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  border-top: 2px solid var(--blue);
  width: 10px;
}

.workContent {
  margin: 0 22% 0 22%;
}

.workContentItem {
}

.workContentItem a {
  text-decoration-color: var(--black);
}

.workContentItemImage {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.workContentItemName {
  color: var(--black);
  font-size: 25px;
  font-weight: 500;
  text-decoration: underline;
  text-align: left;
}

.workContentItemLocation {
  color: var(--black);
  font-size: 25px;
  margin-top: 2px;
  font-weight: 400;
  text-decoration: none;
  text-align: left;
}

.workContentItemDescription {
  margin-top: 10px;
  text-align: left;
  font-size: 22px;
  color: var(--black-light);
  line-height: 1.2;
}

.showAllItems:hover {
  cursor: pointer;
}
